<a href="{{ path('store_add_product') }}" class="btn btn-default">create new</a>
<ul>{% for elem in products %}
        <li>{{ elem.name }}
                <a href="{{ path('store_find_product', {'id': elem.id}) }}" class="btn btn-default">detail</a>
                <a href="{{ path('store_delete_product', {'id': elem.id}) }}" class="btn btn-default">delete</a>
                <a href="{{ path('store_update_product', {'id': elem.id}) }}" class="btn btn-default">update</a>
        </li>
    {% endfor %}
</ul>