{% extends "StoreCoreBundle::layout.html.twig" %}
{% block body %}
    <div id="header" class="jumbotron">
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.name, "name", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.name) }}
                <div class="col-sm-4">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}